#App {
  margin:0;
  padding:0;
  height:calc(100vh - 50px);
  background-color:#001B3A;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#UI{
	height:100%;
	width:calc(100vw - 50px);
	background-color:#001B3A;
	display: flex;
	flex-flow: row wrap;
	justify-content: center; 
	align-items:center;
}

#po-left-wrap{
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items: center;

}

#po-operate{
	box-sizing:border-box;
	padding:25px;
	background-color:black;
	display:flex;
	height:calc(100vw / 1);
	width:calc(100vw / 1.5);
	flex-flow:column nowrap;
	justify-content: center;
	align-items:center;
}

#po-screen{
	flex:1;
	width:100%;
	background-color:gray;
}

#po-right-wrap{

}

@media screen and (min-width:701px){
	#po-left-wrap{
		width:calc(100% - 200px);
		height:calc(100% - 100px);
	}
}

@media screen and (min-width:991px){
	#po-left-wrap, #po-right-wrap{
		flex:1;
		height:100%;
	}
	#po-operate{
		height:calc(100vw / 2.5);
		width:calc(100vw / 3.75);
	}
}

@media screen and (min-width:1401px){
	#po-left-wrap{
		flex:1;
		height:100%;
	}
	#po-right-wrap{
		flex:2;
		height:100%;
	}
}
