#po-controls{
	flex:2;
	width:100%;
	background-color:gray;
	display:flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.po-row{
	flex:1;
	width:100%;
	display: flex;
	flex-flow: row nowrap; 
	justify-content: center;
	align-items:center;
}

.po-row-button{
	flex:1;
	height:100%;
	background-color:black;
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items:center;
}

.po-row-button .po-btn{
	width:75%;
	height:75%;
	border-radius:100%;
}

.po-row-button.po-knob{
	background:gray;
}

.po-row-button.po-knob .po-btn{
	position:relative;
	display: flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items: center;
}

/*.po-row-button.po-knob.knob-a{
	background:red;
}

.po-row-button.po-knob.knob-b{
	background:blue;
}*/

input-knob::part(rotator) {
	box-sizing: border-box;
	background: white;
	border: 1px dashed gray;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	position:relative;
	overflow:hidden;
}

input-knob::part(rotator):after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:silver;
	border-radius:100%;
	bottom:0;
	z-index:-2;
}

.mark {
	text-align: center;
	font: bold 200% monospace;
	color: red;
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height:100%;
}

.mark:after{
	position:absolute; 
	content:"";
    width: 15%;
    height: 75%;
    background: gray;
    border-radius: 500px;
}

.mark:before{
	position:absolute; 
	content:" ";
    width: 15%;
    height: 15%;
    background: red;
    border-radius: 500px;
    z-index:1;
    bottom: 75%;
}

.indicator{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0%;
    top: 100%;
    z-index: -1;
    transform-origin: top center;
  	transform-style: preserve-3D;
}